<div class="small-12 columns">
  <div class="row center">
    <table class="small-12 columns" role="grid">
      <tr>
        <th class="center">Image</th>
        <th class="center">Name</th>
        <th class="center">Description</th>
        <th class="center">Price</th>
        <th class="center">Action</th>
      </tr>

      <% @listings.each do |listing| %>
        <tr>
          <td><%= image_tag listing.image.url(:thumb) %></td>
          <td><%= listing.name %></td>
          <td><%= listing.description %></td>
          <td><%= number_to_currency(listing.price) %></td>
          <td>
            <button class="tiny button radius" data-dropdown="tinyDrop" aria-controls="tinyDrop" aria-expanded="false">Actions &raquo;</button>
              <ul id="tinyDrop" class="tiny f-dropdown" data-dropdown-content>
                  <li class="center"><%= link_to "View", listing %></li>
                  <li class="center"><%= link_to "Edit", edit_listing_path(listing) %></li>
                  <li class="center"><%= link_to "Destroy", listing, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul><!-- .tinyDrop -->
          </td>
        </tr>
      <% end %>
    </table>
  </div><!-- .row -->
</div><!-- .columns -->
<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path , data: {no_turbolink: true}%>
<% end %>
</div><!-- .columns -->
