<div class="row">
  <div class="large-4 columns">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div><!-- .thumbnail -->
    <h3><%= @listing.name %></h3>
    <h5><%= number_to_currency(@listing.price) %></h5>
  </div><!-- .columns -->

    <%= form_for([@listing, @order]) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation"  class="alert-box alert">
          <a href="#" class="close">&times;</a>
          <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div><!-- .alert-box -->
      <% end %>

      <div class="large-8 columns">

        <div id="stripe_error" class="alert-box alert" style="display:none">
          <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
          </noscript>
        </div><!-- #stripe_error -->

        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address, placeholder: "Enter your full street address here, include Apt/Suite" %>
        </div>

        <div class="row no-padding">
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :city %>
              <%= f.text_field :city, placeholder: "Enter city here" %>
            </div>
          </div><!-- .columns -->

          <div class="large-6 columns">
            <div class="field">
              <%= f.label :state %>
              <%= f.text_field :state, placeholder: "2 letter state (ie: CA)" %>
            </div>
          </div><!-- .columns -->
        </div><!-- .row -->

        <div class="row no-padding">
          <div class="large-5 columns">
            <div class="field">
              <%= label_tag :card_number, "Credit Card Number" %>
              <%= text_field :card_number, nil, {:name => nil, :'data-stripe' => "number", :placeholder => "12-19 digit Card Number"} %>
            </div>
          </div><!-- .columns -->

          <div class="large-3 columns">
            <div class="field">
              <%= label_tag :card_code, "CVC" %>
              <%= text_field :card_code, nil, {:name => nil, :'data-stripe' => "cvc", :placeholder => "3-digit CVC"} %>
            </div>
          </div><!-- .columns -->

          <div class="large-2 columns"> 
            <div class="field">
              <%= label_tag nil, "Exp. Month" %>
              <%= select_month nil, {use_two_digit_numbers: true}, {:name => nil, :'data-stripe' => "exp-month"} %>
            </div>
          </div><!-- .columns -->

          <div class="large-2 columns">
            <div class="field">
              <%= label_tag nil, "Exp. Year" %>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {:name => nil, :'data-stripe' => "exp-year"} %>
            </div>
          </div><!-- .columns -->
        </div><!-- .row -->

        <div class="actions">
          <%= f.submit "Complete Order", class: "button tiny success" %>
        </div>
      </div><!-- .columns -->
    <% end %>
</div><!-- .row -->
