<header class="contain-to-grid" role="banner">
	<div class="row">
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">EtsyDemo</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		    	<% if user_signed_in? %>
			    	<li class="has-dropdown"><a href="#">Seller Account</a>
		    			<ul class="dropdown">
							<li><%= link_to "Manage Listings", seller_path %></li>
							<li><%= link_to "Sales History", sales_path %></li>
						</ul>
					</li>

					<li class="has-dropdown"><a href="#"><%= current_user.name %></a>
		    			<ul class="dropdown">
			    			<li><%= link_to "Purchase History", purchases_path %></li>
			    			<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
							<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
					      <% else %>
				    <li class="has-dropdown"><a href="#"><i class="fa fa-user"></i></a>
			    		<ul class="dropdown">
						    <li><%= link_to "Login", new_user_session_path %></li>
						    <li><%= link_to "Sign Up", new_user_registration_path %></li>
						</ul>
					</li>
				<% end %>
		    </ul><!-- .right section -->

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li><%= link_to "About", about_path %></li>
		      <li><%= link_to "Contact", contact_path %></li>
		    </ul>
		  </section><!-- .left section -->
		</nav><!-- .top-bar -->
	</div><!-- .row -->
</header><!-- .contain-to-grid -->